* {
    margin: 0;
    padding: 0;
}

/* header  */
header {
    background: linear-gradient(180deg, #ffffff, var(--light), #e3eeee);
}

#hero {
    height: auto;
    width: auto;
    border-radius: 20px;
    background: #e3eeee;
}

#headerSlider .carousel-item {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: auto 120%;
    animation: animate_bg 15s linear infinite;
}

@media (max-width: 525px) {
    #headerSlider .carousel-item {
        height: 250px;
    }
}

@keyframes animate_bg {
    0% {
        background-size: auto 150%;
    }

    100% {
        background-size: auto 170%;
    }
}

.headerSlide1 {
    background: url('../img/SAVE-LOAN.webp') center;
    border-radius: 20px;
}

.headerSlide2 {
    background: url('../img/quit-claim.webp') center;
    border-radius: 20px;
}

.headerSlide3 {
    background: url('../img/Cream-Minimalist-Elegant-Quote-Instagram-Post.webp') center;
    border-radius: 20px;
}

/* stats  */
#stats {
    height: auto;
    background: #e3eeee;
}

/* about  */
#about {
    height: auto;
    background: linear-gradient(180deg, var(--secondary), var(--dark_secondary));
}

.underline {
    height: 5px;
    width: 180px;
    border-radius: 10px;
    background-color: var(--yellow);
}

.features_card {
    height: auto;
    width: auto;
}

.iconBox {
    width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px var(--light);
    transition: 0.5s ease-in-out;
}

.iconBox svg {
    fill: var(--light);
    transition: 0.3s;
}

.features_card:hover .iconBox {
    box-shadow: inset 0 0 0 100px var(--light);
}

.features_card:hover .iconBox svg {
    fill: var(--secondary) !important;
}

.featured_choose_card {
    height: auto;
    width: auto;
}

.iconBoxInvert {
    width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px var(--light);
    transition: 0.5s ease-in-out;
}

.iconBoxInvert svg {
    fill: var(--light);
    transition: 0.3s;
}

.featured_choose_card:hover .iconBoxInvert {
    box-shadow: inset 0 0 0 100px var(--light);
}

.featured_choose_card:hover .iconBoxInvert svg {
    fill: var(--light) !important;
}